.button{
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 60px;
    width: max-content;
    cursor: pointer;
}

.primary-btn{
    color: var(--white);
    background-color: var(--btn-bg);
}

.secondary-btn{
    border: 2px solid var(--white);
}