.trending-nfts{
    padding: 108px 0px;
    position: relative;
}

.tn-title{
    font-size: 46px;
    font-weight: 700;
    padding: 24px;
    margin-bottom: 36px;
}

.tn-bg-blob{
    height: 350px;
    width: 350px;
    background-color: var(--bg-blob);
    filter: blur(160.58px);
    position: absolute;
    z-index: -99;
    left: 50%;
    transform: translate(-50%);
}